<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @pub.image_url %>');">
  <div class="banner-content">
    <h1><%= @pub.name %></h1>
    <p><%= @pub.address %></p>
    <a class="btn btn-primary btn-lg">GET IT</a>
  </div>
</div>


<div class="container padded">

  <% @pub.reviews.each do |r| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h2><%= r.content %></h2>
      <% r.rating.times do %>
        <i class="fa fa-star"></i>
      <% end %>
      <hr>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <%= simple_form_for [@pub, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: 1..5 %>
      <%= f.submit "Add review", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
